/* line 55, ../sass/components/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 63, ../sass/components/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 74, ../sass/components/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 84, ../sass/components/_normalize.scss */
[hidden], template {
  display: none;
}

/* line 97, ../sass/components/_normalize.scss */
html {
  font-size: 100%;
  background: white;
  color: black;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 113, ../sass/components/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 119, ../sass/components/_normalize.scss */
body {
  margin: 0;
}

/* line 132, ../sass/components/_normalize.scss */
a {
  background: transparent;
}
/* line 139, ../sass/components/_normalize.scss */
a:focus {
  outline: thin dotted;
}
/* line 146, ../sass/components/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 159, ../sass/components/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 164, ../sass/components/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 169, ../sass/components/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 174, ../sass/components/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 179, ../sass/components/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 184, ../sass/components/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 192, ../sass/components/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 199, ../sass/components/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 204, ../sass/components/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/* line 211, ../sass/components/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 217, ../sass/components/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 225, ../sass/components/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/* line 236, ../sass/components/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 246, ../sass/components/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 254, ../sass/components/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 263, ../sass/components/_normalize.scss */
q {
  quotes: none;
}

/* line 271, ../sass/components/_normalize.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 279, ../sass/components/_normalize.scss */
small {
  font-size: 80%;
}

/* line 287, ../sass/components/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 294, ../sass/components/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 298, ../sass/components/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 311, ../sass/components/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 317, ../sass/components/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 326, ../sass/components/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/* line 335, ../sass/components/_normalize.scss */
nav ul,
nav ol {
  list-style-image: none;
}

/* line 350, ../sass/components/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 359, ../sass/components/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 369, ../sass/components/_normalize.scss */
figure {
  margin: 0;
}

/* line 379, ../sass/components/_normalize.scss */
form {
  margin: 0;
}

/* line 386, ../sass/components/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 397, ../sass/components/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

/* line 414, ../sass/components/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 426, ../sass/components/_normalize.scss */
button, input {
  line-height: normal;
}

/* line 436, ../sass/components/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 451, ../sass/components/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

/* line 462, ../sass/components/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 470, ../sass/components/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 479, ../sass/components/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 490, ../sass/components/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 498, ../sass/components/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 507, ../sass/components/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/* line 517, ../sass/components/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

/* line 1, ../sass/components/_setup.scss */
html {
  font-family: arial;
  background: url("img/black-Linen.png");
  background-repeat: repeat;
  padding: 0;
  margin: 0;
}

/* line 9, ../sass/components/_setup.scss */
body {
  width: 100%;
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
  background: white;
}

/* line 1, ../sass/components/_header.scss */
header {
  margin-top: 3%;
}
@media (max-width: 711px) {
  /* line 1, ../sass/components/_header.scss */
  header {
    margin: 0;
  }
}
/* line 6, ../sass/components/_header.scss */
header .head {
  width: 100%;
  overflow: auto;
  background-color: #b4ddb4;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFB4DDB4', endColorstr='#FF002400');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b4ddb4), color-stop(0%, #83c783), color-stop(0%, #52b152), color-stop(0%, #008a00), color-stop(25%, #005700), color-stop(100%, #002400));
  background-image: -webkit-linear-gradient(top, #b4ddb4 0%, #83c783 0%, #52b152 0%, #008a00 0%, #005700 25%, #002400 100%);
  background-image: -moz-linear-gradient(top, #b4ddb4 0%, #83c783 0%, #52b152 0%, #008a00 0%, #005700 25%, #002400 100%);
  background-image: -o-linear-gradient(top, #b4ddb4 0%, #83c783 0%, #52b152 0%, #008a00 0%, #005700 25%, #002400 100%);
  background-image: linear-gradient(top, #b4ddb4 0%, #83c783 0%, #52b152 0%, #008a00 0%, #005700 25%, #002400 100%);
  text-align: center;
}
/* line 14, ../sass/components/_header.scss */
header .head .logo {
  float: left;
  width: 30%;
  height: auto;
  min-width: 149px;
  min-height: 112px;
  margin-right: 2%;
}
/* line 22, ../sass/components/_header.scss */
header .head .headline {
  position: relative;
  color: white;
  font-style: italic;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}
/* line 32, ../sass/components/_header.scss */
header .head ul {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
}
/* line 37, ../sass/components/_header.scss */
header .head ul li {
  display: inline-block;
  color: white;
  margin: 0;
  padding: 0;
  margin: 4%;
}
/* line 43, ../sass/components/_header.scss */
header .head ul li a {
  width: 100%;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
/* line 51, ../sass/components/_header.scss */
header .head ul li :hover {
  background: #52b152;
}
@media screen and (max-width: 943px) {
  /* line 58, ../sass/components/_header.scss */
  header .head h1 {
    font-size: 28px;
  }
}
@media screen and (max-width: 827px) {
  /* line 63, ../sass/components/_header.scss */
  header .head h1 {
    font-size: 24px;
  }
}
@media screen and (max-width: 711px) {
  /* line 68, ../sass/components/_header.scss */
  header .head .logo {
    display: none;
  }
}
@media screen and (max-width: 340px) {
  /* line 76, ../sass/components/_header.scss */
  header .head ul li a {
    font-size: 1em;
    line-height: 30px;
  }
}

/* line 2, ../sass/components/_home-body.scss */
.home-page h3 {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 5%;
  margin-right: 3%;
}
/* line 8, ../sass/components/_home-body.scss */
.home-page h3 img {
  width: 35%;
  height: auto;
  margin-left: 4%;
  margin-right: 3%;
  margin-top: 1%;
  float: right;
  display: inline-block;
}
/* line 18, ../sass/components/_home-body.scss */
.home-page p {
  margin-left: 5%;
  margin-right: 8%;
  text-align: justify;
}
/* line 24, ../sass/components/_home-body.scss */
.home-page .slider .bx-wrapper {
  position: relative;
  margin: 0 auto;
  margin-bottom: 0;
  padding: 0;
  *zoom: 1;
}
/* line 31, ../sass/components/_home-body.scss */
.home-page .slider .bx-wrapper img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 37, ../sass/components/_home-body.scss */
.home-page .slider .bx-wrapper li {
  background-color: #45484d;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF45484D', endColorstr='#FF000000');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #45484d), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top, #45484d 0%, #000000 100%);
  background-image: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
  background-image: -o-linear-gradient(top, #45484d 0%, #000000 100%);
  background-image: linear-gradient(top, #45484d 0%, #000000 100%);
}
/* line 42, ../sass/components/_home-body.scss */
.home-page .slider .bx-wrapper .bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}
/* line 50, ../sass/components/_home-body.scss */
.home-page .slider .bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}
/* line 55, ../sass/components/_home-body.scss */
.home-page .slider .bx-wrapper .bx-pager {
  position: absolute;
  bottom: -30px;
  width: 100%;
  visibility: hidden;
}
/* line 61, ../sass/components/_home-body.scss */
.home-page .slider .bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(images/bx_loader.gif) center center no-repeat white;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}
/* line 72, ../sass/components/_home-body.scss */
.home-page .slider .bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}
/* line 79, ../sass/components/_home-body.scss */
.home-page .slider .bx-wrapper .bx-pager .bx-pager-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
/* line 85, ../sass/components/_home-body.scss */
.home-page .slider .bx-wrapper .bx-controls-auto {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
/* line 90, ../sass/components/_home-body.scss */
.home-page .slider .bx-wrapper .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
/* line 95, ../sass/components/_home-body.scss */
.home-page .slider .bx-wrapper .bx-player.bx-default-pager {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 106, ../sass/components/_home-body.scss */
.home-page .slider .bx-wrapper .bx-player.bx-default-pager a.active {
  background: #000;
}
/* line 109, ../sass/components/_home-body.scss */
.home-page .slider .bx-wrapper .bx-player.bx-default-pager a:hover {
  background: #000;
}
/* line 115, ../sass/components/_home-body.scss */
.home-page .slider .bx-wrapper .bx-prev {
  left: 10px;
  margin: 0;
  margin-left: 10px;
  background: url(images/controls.png) no-repeat 0 -32px;
}
/* line 120, ../sass/components/_home-body.scss */
.home-page .slider .bx-wrapper .bx-prev .bx-prev:hover {
  background-position: 0 0;
}
/* line 124, ../sass/components/_home-body.scss */
.home-page .slider .bx-wrapper .bx-next {
  right: 10px;
  margin-right: 10px;
  background: url(images/controls.png) no-repeat -43px -32px;
  margin: 0;
}
/* line 129, ../sass/components/_home-body.scss */
.home-page .slider .bx-wrapper .bx-next .bx-next:hover {
  background-position: -43px 0;
}
/* line 134, ../sass/components/_home-body.scss */
.home-page .slider .bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}
/* line 144, ../sass/components/_home-body.scss */
.home-page .slider .bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}
/* line 148, ../sass/components/_home-body.scss */
.home-page .slider .bx-wrapper .bx-controls-auto {
  text-align: center;
}
/* line 151, ../sass/components/_home-body.scss */
.home-page .slider .bx-wrapper .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url("images/controls.png") -86px -11px no-repeat;
  margin: 0 3px;
}
/* line 160, ../sass/components/_home-body.scss */
.home-page .slider .bx-wrapper .bx-start .bx-start.active {
  background-position: -86px 0;
}
/* line 163, ../sass/components/_home-body.scss */
.home-page .slider .bx-wrapper .bx-start .bx-start:hover {
  background-position: -86px 0;
}
/* line 167, ../sass/components/_home-body.scss */
.home-page .slider .bx-wrapper .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -44px no-repeat;
  margin: 0 3px;
}
/* line 176, ../sass/components/_home-body.scss */
.home-page .slider .bx-wrapper .bx-stop .bx-stop.active {
  background-position: -86px -33px;
}
/* line 179, ../sass/components/_home-body.scss */
.home-page .slider .bx-wrapper .bx-stop .bx-stop:hover {
  background-position: -86px -33px;
}
/* line 184, ../sass/components/_home-body.scss */
.home-page .slider .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}
/* line 190, ../sass/components/_home-body.scss */
.home-page .slider .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}
/* line 195, ../sass/components/_home-body.scss */
.home-page .slider .bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666\9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}
/* line 202, ../sass/components/_home-body.scss */
.home-page .slider .bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}
/* line 212, ../sass/components/_home-body.scss */
.home-page .container {
  padding-bottom: 5%;
  margin-bottom: 5%;
}
/* line 217, ../sass/components/_home-body.scss */
.home-page .map-container {
  width: 50%;
  float: left;
  padding-bottom: 5%;
  margin-bottom: 5%;
}
@media (max-width: 960px) {
  /* line 217, ../sass/components/_home-body.scss */
  .home-page .map-container {
    width: 100%;
    float: none;
    margin: 0;
    padding: 0;
  }
}
/* line 230, ../sass/components/_home-body.scss */
.home-page .map {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
/* line 237, ../sass/components/_home-body.scss */
.home-page .map iframe, .home-page .map object, .home-page .map embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 244, ../sass/components/_home-body.scss */
.home-page .map .map-frame {
  width: 600;
  height: 450;
  border: 0;
}
/* line 251, ../sass/components/_home-body.scss */
.home-page .cal-container {
  width: 50%;
  float: right;
  padding-bottom: 5%;
  margin-bottom: 5%;
}
@media (max-width: 960px) {
  /* line 251, ../sass/components/_home-body.scss */
  .home-page .cal-container {
    width: 100%;
    clear: both;
    margin: 0;
    padding: 0;
  }
}
/* line 264, ../sass/components/_home-body.scss */
.home-page .calendar {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
/* line 271, ../sass/components/_home-body.scss */
.home-page .calendar iframe, .home-page .calendar object, .home-page .calendar embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 280, ../sass/components/_home-body.scss */
.home-page .calendar .cal-frame {
  border-width: 0;
  width: 800;
  height: 600;
}

/* line 3, ../sass/components/_about-body.scss */
.about-page .info {
  margin-bottom: 5%;
  margin-right: 5%;
  margin-left: 5%;
}
/* line 10, ../sass/components/_about-body.scss */
.about-page .info .contact-info li {
  list-style-type: none;
  margin-bottom: 2%;
}
/* line 13, ../sass/components/_about-body.scss */
.about-page .info .contact-info li span {
  font-weight: bold;
}
/* line 16, ../sass/components/_about-body.scss */
.about-page .info .contact-info li a {
  color: blue;
  font-weight: bold;
  text-decoration: none;
}
/* line 24, ../sass/components/_about-body.scss */
.about-page .about-text {
  margin: 0;
  padding-top: 2%;
  padding-bottom: 5%;
}

/* line 2, ../sass/components/events-body.scss */
.events-page h1 {
  margin-top: 2%;
  margin-bottom: 1%;
  margin-left: 3%;
  margin-right: 3%;
}
/* line 7, ../sass/components/events-body.scss */
.events-page h1 img {
  width: 30%;
  height: auto;
  margin: 2%;
  float: right;
  display: inline-block;
}
/* line 16, ../sass/components/events-body.scss */
.events-page .com-night h3 {
  margin-top: 10%;
  margin-bottom: 1%;
  margin-left: 5%;
  margin-right: 3%;
}
/* line 23, ../sass/components/events-body.scss */
.events-page .com-text {
  margin-top: 0;
  margin-bottom: 1%;
  margin-left: 5%;
  margin-right: 3%;
  padding-bottom: 15%;
}

/* line 2, ../sass/components/menu-body.scss */
.menu ul {
  display: none;
}
/* line 4, ../sass/components/menu-body.scss */
.menu ul li {
  margin-left: 8%;
}
/* line 8, ../sass/components/menu-body.scss */
.menu h1 {
  margin-left: 3%;
  padding-top: 3%;
  display: inline-block;
  color: green;
}
/* line 14, ../sass/components/menu-body.scss */
.menu p {
  margin-top: 3%;
  display: inline-block;
  font-weight: bold;
  font-size: 1.5em;
}
/* line 20, ../sass/components/menu-body.scss */
.menu h3 {
  color: green;
  text-decoration: underline;
  font-style: italic;
  margin-left: 8%;
  margin-top: 2%;
}
/* line 27, ../sass/components/menu-body.scss */
.menu h3:hover {
  color: black;
  cursor: pointer;
}
/* line 31, ../sass/components/menu-body.scss */
.menu .lighter-winds {
  margin-bottom: 2%;
  padding-bottom: 2%;
}
