.about-area{
  background: $purp-two;
  padding-top:70px;
}

.about-rowone{
  display:inline-table;
  width:450px;
  margin-left:20px;
}

img.about-rowone{
  width:200px;
  margin-left:135px;
  margin-right:135px;
}

.about-rowtwo{
 display:inline-table;
 margin-left:20px;
 margin-right:10;
 margin-bottom:100px;
}

