.hero-unit{
  clear:both;
  background: $purp-one;
  padding-top:20px;
  padding-bottom:20px;
  margin-top:10px;
}

.hero-pic{
  background: $purp-two;
  height:300px;
  margin-top:20px;
  margin-bottom:20px;
}