h3{
  margin-top:1%;
  margin-bottom:1%;
  margin-left:3%;
  margin-right:3%;
  img{
    width:30%;
    height:auto;
    margin-left:3%;
    margin-right:3%;
    margin-top:1%;
    float:right;
    display:inline-block;
  }
}
p{
  margin-left:3%;
  margin-right:3%;
}
.csslider1.autoplay{
  margin:0;
}
.slideshow{
  width:50%;
  height:auto;
  whitespace:nowrap;
  text-align:center;
  padding-left:25%;
  padding-right:25%;
  padding-top:2%;
  padding-bottom:2%;
  background:gray;
}
.caledar{
  text-align:center;
}
.calendar-container{
  width:45%;
}
.map{
  float:left;
  clear:both;
}
