html{
  font-family:arial;
  background: url("https://raw.githubusercontent.com/hodgesh3/TC-349-FS14/gh-pages/img/black-Linen.png");
  background-repeat:repeat;
  padding: 0;
  margin:0;
}

body{
  width:100%;
  max-width:960px;
  height:100%; 
  margin:0 auto;
  background:white;
}
