.menu-page{

  .menu{
    ul{
      display:none;
      li{
        margin-left:8%;
      }
    }
    .menu-header{
      text-align:center;
      margin-left:3%;
      margin-right:3%;
      padding-right:3%;
      padding-left:3%;
    }
    h1{
      color:green;
      display:inline-block;
    }
    p{
      margin:0;
      padding:0;
      font-weight:bold;
      font-size:1.5em;
      display:inline;
    }
    h3{
      color:green;
      text-decoration:underline;
      font-style:italic;
      padding:0;
      margin-left:4%;
      margin-right:4%;
      margin-top:2%;
      width:17%;
    }
    h3:hover{
      color:black;
      cursor:pointer;
    }
    .lighter-winds{
      margin-bottom:2%;
      padding-bottom:2%;
    }
  }
}