/* line 2, ../../sass/components/events-body.scss */
.events-page h1 {
  margin-top: 2%;
  margin-bottom: 1%;
  margin-left: 3%;
  margin-right: 3%;
  color: green;
}
/* line 8, ../../sass/components/events-body.scss */
.events-page h1 img {
  width: 30%;
  height: auto;
  margin: 2%;
  float: right;
  display: inline-block;
}
/* line 17, ../../sass/components/events-body.scss */
.events-page .com-night h3 {
  margin-top: 10%;
  margin-bottom: 1%;
  margin-left: 5%;
  margin-right: 3%;
}
/* line 24, ../../sass/components/events-body.scss */
.events-page .com-text {
  margin-top: 0;
  margin-bottom: 1%;
  margin-left: 5%;
  margin-right: 3%;
  padding-bottom: 15%;
}
