/* line 2, ../../sass/components/menu-body.scss */
.menu ul {
  display: none;
}
/* line 4, ../../sass/components/menu-body.scss */
.menu ul li {
  margin-left: 8%;
}
/* line 8, ../../sass/components/menu-body.scss */
.menu h1 {
  margin-left: 3%;
  padding-top: 3%;
  display: inline-block;
}
/* line 13, ../../sass/components/menu-body.scss */
.menu p {
  margin-top: 3%;
  display: inline-block;
  font-weight: bold;
  font-size: 1.5em;
}
/* line 19, ../../sass/components/menu-body.scss */
.menu h3 {
  color: green;
  text-decoration: underline;
  margin-left: 8%;
  margin-top: 2%;
}
/* line 25, ../../sass/components/menu-body.scss */
.menu h3:hover {
  color: black;
  cursor: pointer;
}
/* line 29, ../../sass/components/menu-body.scss */
.menu .lighter-winds {
  margin-bottom: 2%;
  padding-bottom: 2%;
}
