/* line 2, ../../sass/components/menu-body.scss */
.menu-page .welcome-aboard {
  margin-left: 5%;
  margin-top: 2%;
}
/* line 6, ../../sass/components/menu-body.scss */
.menu-page .green-seas {
  margin-left: 5%;
  margin-top: 2%;
}
/* line 10, ../../sass/components/menu-body.scss */
.menu-page .lighter-winds {
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-bottom: 2%;
}
